body{
  background-color: black;
}

#input {
  font-size: xx-large;
  background: #bddcd5;
  margin-bottom: 5px;
  height: 40px;
}

#calculator {
  width: 292px;
  background: #111;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 37%;
  margin-top: 10%;
}

button {
  background: gray;
  color: white;
  border: 1px solid;
  height: 70px;
  width: 70px;
}

.special-buttons {
  background: orange;
  color: black;
}

#actions {
  margin-bottom: 5px;
}
h1{
  color: white;
}