body {
  background-color: black;
}
img {
  height: 7%;
  width: 7%;
  border-radius: 10px 10px;
}
#input {
  font-size: xx-large;
  background: #bddcd5;
  margin-bottom: 5px;
  height: 40px;
}

#calculator {
  width: 292px;
  background: #111;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 37%;
  margin-top: 2%;
}

button {
  background: gray;
  color: white;
  border: 1px solid;
  height: 70px;
  width: 70px;
}

.special-buttons {
  background: orange;
  color: black;
}

#actions {
  margin-bottom: 5px;
}
h1 {
  color: white;
}
h3 {
  color: white;
}
h1 {
  width: 150px;
  height: 100px;
  position: relative;
  animation: iconMove 5s infinite;
  animation-direction: alternate;
}

@keyframes iconMove {
  0% {
    background: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background: yellow;
    left: 0px;
    top: 0px;
  }
  50% {
    background: blue;
    left: 0px;
    top: 0px;
  }
  75% {
    background: green;
    left: 145px;
    top: 20px;
  }
  100% {
    background: red;
    left: 0px;
    top: 0px;
  }
}
